<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="stylesheet" href="{{ static_url("styles.css") }}"/>
	<title>John: this is a journal</title>
</head>

<body>
	<div id="container">
		<div id="header">
			<div id="nav" style="float:right;">
				{% if current_user %}
					<a href="/user/{{ current_user }}">{{ current_user }}</a> - <a href="/logout">log out</a>
				{% else %}
					<a href="/login">log in</a>
				{% end %}
			</div>
			<div id="logo">
				<a href="/about-john" style="display:inline;">John</a>
			</div>
		</div>
		{% block hero %}
		<div id="hero"><a href="/">
			<p>john: {{ page["hero"] }}</p>
		</a></div>
		{% end %}
		
		<div id="page-content">
			{% block page-content %}
			{% end %}
		</div>
	</div>
</body>
</html>