<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="stylesheet" href="{{ static_url("css/john.css") }}"/>
</head>

<body>
	<div id="container">
		{% block header %}
		<div id="header">
			<div id="nav" style="float:right;">
				{% if current_user %}
					<a href="/user/{{ current_user }}">{{ current_user }}</a>
				{% else %}
					<a href="/signup">sign up</a> - <a href="/login">log in</a>
				{% end %}
			</div>
			
			<div id="logo">
				<a href="/">john's journal</a>
			</div>
		</div>
		{% end %}
		
		<div id="page-wrapper">
			{% block page-wrapper %}
			{% end %}
		</div>
		
		<div id="footer">
			<p><a href="/about-john">about john</a></p>
		</div>
	</div>
</body>
</html>