<!DOCTYPE html>
<html>
<head>
	<title>John's Journal</title>
	
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="stylesheet" href="{{ static_url("css/john.css") }}"/>
	<script src="{{ static_url("js/jquery-3.2.1.min.js") }}"></script>
	<script src="{{ static_url("js/john.js") }}"></script>
</head>

<body>
	<div id="container">
		{% block header %}
		<div id="header">
			<div id="nav" style="float:right;">
				{% if current_user %}
					<a href="/user/{{ current_user }}">{{ current_user }}</a>
				{% else %}
					<a href="/signup">sign up</a> - <a href="/login">log in</a>
				{% end %}
			</div>
			
			<div id="logo">
				<a href="/">john's journal</a>
			</div>
		</div>
		{% end %}
		
		<div id="page-wrapper">
			{% block page-wrapper %}
			{% end %}
		</div>
	</div>
	
	<script>
		function searchBox(){
			// control the visuals of the search box
			var box = document.getElementById("search-box");
			var btn = document.getElementById("search-button");
			if (box.className == 'disabled'){
				box.className = "enabled";
				
				btn.innerHTML = "";
				btn.innerHTML = "cancel";
			}
			else if (box.className == 'enabled'){
				box.className = "disabled";
				
				btn.innerHTML = "";
				btn.innerHTML = "search";
			}
		}
	</script>
</body>
</html>