{% extends "base.html" %}

{% block header %}
	<div id="header">
		<div id="nav" style="float:right;">
			{% if current_user %}
				<a href="/posts/new">new post</a> - <a href="/user/{{ current_user }}">{{ current_user }}</a>
			{% else %}
				<a href="/signup">sign up</a> - <a href="/login">log in</a>
			{% end %}
		</div>
		
		<div id="logo">
			<a href="/">john's journal</a>
		</div>
	</div>
{% end %}

{% block page-wrapper %}
	{% if recent %}
	<div>
		<h3 style="display: inline-block">recent posts</h3> - <a href="/posts">all posts</a> - <span id="search-button" onclick="searchBox()">search</span>
		<div id="search-box" class="disabled">
			<form action="/search" method="POST">
				<input type="text" name="query" id="query-box" placeholder="what we're you looking for..." required autocomplete=off/>
				<input type="submit" value="search" id="send-btn"/>
			</form>
		</div>
	</div>
	{% for post in recent %}
		<div class="i-post">
			<div class="i-post-heading"><a href="/posts/{{ post.id }}">{{ post.heading }}</a></div><hr/>
			<div class="i-post-content">{{ post.brief }}</div>
			<div class="i-footnote"></div>
		</div>
	{% end %}
	{% else %}
	<div style="margin-top: 35%">
		<h2>no posts here. do make a <a href="/posts/new" style="text-decoration: underline">new</a> one or something.</h2>
	</div>
	{% end %}
{% end %}
