{% extends "base.html" %}

{% block header %}
	<div id="header">
		<div id="nav" style="float:right;">
			{% if current_user %}
				<a href="/posts/new">new post</a> - <a href="/user/{{ current_user }}">{{ current_user }}</a>
			{% else %}
				<a href="/signup">sign up</a> - <a href="/login">log in</a>
			{% end %}
		</div>
		
		<div id="logo">
			<a href="/">john's journal</a>
		</div>
	</div>
{% end %}

{% block page-wrapper %}
	{% if recent %}
	<h3 style="display: inline-block">recent posts</h3> - <a href="/posts">all posts</a>
	{% for post in recent %}
		<div class="i-post">
			<div class="i-post-heading"><a href="/posts/{{ post.id }}">{{ post.heading }}</a></div><hr/>
			<div class="i-post-content">{{ post.brief }}</div>
			<div class="i-footnote"></div>
		</div>
	{% end %}
	{% else %}
		<h2>no posts have been made yet. <a href="/posts/new">make one</a></h2>
	{% end %}
{% end %}