{% extends "base.html" %}

{% block page-content %}

{% if error %}
<p style="color:red; margin-left:3px;">error: {{ error }}</p>
{% end %}

<form action="/login" method="post" class="auth">
	<input type="username" name="username" placeholder="username" autofocus autocomplete="off" class="username"/><br/>
	<input type="password" name="password" placeholder="password" autofocus class="password"/><br/>
	{% module xsrf_form_html() %}
	<a href="/signup" style="float:right; margin-right:15%;">sign up</a>
	<input type="submit" value="log in" style="margin-left:15%; padding:2px 7px 2px 7px; font-size:13px;"/>
</form>

{% end %}