{% extends "base.html" %}

{% block page-content %}

{% if error %}
<div class="red">error: {{ error }}</div>
{% end %}

<div>
<form action="/new-post" method="post" class="compose">
	<input type="text" name="heading" placeholder="heading" autofocus autocomplete="off" id="heading"/><br/>
	<textarea name="content" placeholder="content" autofocus id="content" class="materialize-textarea">{% if redo[0] %}{{ redo[1] }}{% end %}</textarea>
	{% module xsrf_form_html() %}
	<input type="submit" value="make post" class="btn white blue-text" style="margin-top:12px"/>
</form>
</div>
{% end %}