{% extends "base.html" %}

{% block page-content %}

{% if error %}
<p style="color:red;">error: {{ error }}</p>
{% end %}

<form action="/signup" method="post" class="auth">
	<input type="username" name="username" placeholder="username" autofocus autocomplete="off" class="username"/><br/>
	<input type="password" name="password" placeholder="password" autofocus class="password"/><br/>
	{% module xsrf_form_html() %}
	<a href="/login" style="float:right; margin-right:15%;">log in</a>
	<input type="submit" value="sign up" style="margin-left:15%; padding:2px 5px 2px 5px; font-size:13px;"/>
</form>

{% end %}